github "apple/swift-protobuf"  ~> 1.0
github "grpc/grpc-swift"
github "D-Mx/drift-sdk-ios" "feature/Carthage-support"
github "Alamofire/Alamofire" ~> 4.7
github "iwasrobbed/Down"
github "Hearst-DD/ObjectMapper" ~> 3.3
github "tristanhimmelman/AlamofireObjectMapper" ~> 5.0
github "ReSwift/ReSwift"
github "ReactiveX/RxSwift" ~> 4.0
github "NMSSH/NMSSH"
